<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form #form="ngForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            Registro da disciplina
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Dados do cadastro</p>
        </div>

        <div class="col-sm-4 col-xs-12">
          <app-input errorMessage="Campo obrigatório com no mínimo 2 caracteres" label="Nome">
            <input class="form-control" name="nome" ngModel required minlength="2" maxlength="255" placeholder="Nome" autocomplete="off">
          </app-input>
        </div>

        <div class="col-sm-4 col-xs-12">
          <app-input errorMessage="Campo obrigatório com no mínimo 2 caracteres" label="Professor">
            <input class="form-control" name="professor" ngModel required minlength="2" maxlength="255" placeholder="Professor" autocomplete="off">
          </app-input>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-xs-12">
         <button (click)="saveCadDisciplina(form.value)" class="btn btn-success pull-right" [disabled]="!form.valid">Confirmar</button>
      </div>
    </div>
  </section>
</section>
